.block-cta {
  position: relative;
  &-heading {
    color: $cyan;
    font-size: 13rem;
    position: absolute;
    top:-1rem;
    font-weight: 700;
    opacity: .08;
    z-index: -1;
    line-height: 1;
    letter-spacing: 1px;
    @include media-breakpoint-down(xl) {
      font-size: 7rem;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &.has-heading {
    padding-top: 7rem;
    @include media-breakpoint-down(xl) {
      padding-top: 4rem;
    }
    @include media-breakpoint-down(md) {
      padding-top: 0;
    }
  }
  .img-wrap {
    @include img-wrap(60%);
    border-bottom-width: 0;
    @include media-breakpoint-down(lg) {
      margin-bottom: 3rem;
    }
    &-shadow {
      position: relative;
      @include media-breakpoint-down(lg) {
        margin-bottom: 3rem;
      }
      &::before {
        @extend %pseudo;
        bottom: -3rem;
        height: 75%;
        width: 90%;
        z-index: -1;
        @include media-breakpoint-down(lg) {
          bottom: calc(#{$cf-padding} / -2);
        }
      }
      &.narrow {
        .img-wrap {
          padding-top: 50% !important;
        }
        &::before {
          height: 60%;
          background-color: $primary !important;
        }
      }
    }
  }
  .embed-shadow {
    position: relative;
    & > div {
      border-radius: $border-radius-lg;
    }
    &::before {
      @extend %pseudo;
      bottom: -3rem;
      height: 75%;
      width: 90%;
      z-index: -1;
      @include media-breakpoint-down(lg) {
        bottom: calc(#{$cf-padding} / -2);
      }
    }
  }
  &-title {
    @extend %column-title;
  }
  .btns {
    .btn {
      margin-top: 1.5rem;
      &:first-child {
        @extend %btn-accent;
      }
      &:nth-child(2) {
        margin-left: 1rem;
        @extend %btn-primary;
      }
    }
  }
  .row {
    @include media-breakpoint-down(md) {
      flex-direction: column-reverse !important;
    }
  }
  &-left {
    @include media-breakpoint-up(lg) {
      padding-right: $cf-padding-half;
    }
    .row {
      & > div {
        &:first-child {
          @include media-breakpoint-up(lg) {
            padding-left: calc(#{$cf-padding} - 1rem);
            padding-right: $cf-padding;
          }
        }
      }
    }
    .block-cta-heading {
      left: calc(#{$cf-padding} + 2rem);
      @include media-breakpoint-down(md) {
        left: $cf-padding;
      }
    }
    .img-wrap, .embed {
      border-left-width: 0;
      &-shadow {
        &::before {
          left: -3rem;
          border-bottom-left-radius: .75rem;
          background-color: $primary;
          @include media-breakpoint-down(lg) {
            left: calc(#{$cf-padding} / -2);
          }
        }
      }
    }
  }
  &-right {
    @include media-breakpoint-up(lg) {
      padding-left: $cf-padding-half;
    }

    .row {
      flex-direction: row-reverse;
      & > div {
        &:first-child {
          @include media-breakpoint-up(lg) {
            padding-right: calc(#{$cf-padding} - 1rem);
            padding-left: $cf-padding;
          }
        }
      }
    }
    .block-cta-heading {
      right: calc(#{$cf-padding} + 2rem);
      @include media-breakpoint-down(md) {
        left: $cf-padding;
        right: $cf-padding;
      }
    }
    .img-wrap, .embed {
      border-right-width: 0;
      &-shadow {
        &::before {
          right: -3rem;
          border-bottom-right-radius: .75rem;
          background-color: $dark;
          @include media-breakpoint-down(lg) {
            right: calc(#{$cf-padding} / -2);
          }
        }
      }
    }
  }
}
