$fa-font-path: "./fonts";

// Custom fonts go here.
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:400,400i,700,900&display=swap');

$reg-font: 'Roboto', sans-serif;
$cond-font: 'Roboto Condensed', sans-serif;
